.DayTile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 2rem;
    background-color: lightgray;
    color: black;
}

.DaySelector {
    text-align: center;
    border-radius: 50%;
    line-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    color: black;
}

.DaySelected {    
    background-color: darkgray;
}

.DayForbidden {
    color: gray;
}

.OtherMonth {
    background-color: white;
}